.button-add-to-card {
  transition: all .1s ease-in;

  &:hover, &:active {
    font-weight: bolder;
    color: #ffffff;
    background-color: #343a40 !important;
  }
}

a {
  text-decoration-skip: ink;
}

.custom-link {
  color: #007bff;
  text-decoration-skip: ink;
}